@import 'Colors';
@import 'Variables';

.container {
  width: 60vw;
  height: 100vh;
  background-color: $color-secondary;
  padding: $padding-4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.error {
  color: $color-text-light;
  text-align: end;
}

.link {
  margin-top: $padding-2;
  color: $color-primary-300;
}
