{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jest/recommended"],
  "globals": {
    "__DEV__": false,
    "navigator": false,
    "fetch": false,
    "FormData": false,
    "global": false,
    "window": false,
    "document": false
  },
  "plugins": ["prettier", "jest"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ]
  }
}
