
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #60d394 !default;
$color-secondary: #ff9b85 !default;
$color-tertiary: #aaf683 !default;
$color-quaternary: #ee6055 !default;
$color-quinary: #ffd97d !default;
