
// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$padding: 1.6rem !default;
$padding-double: 3.2rem !default;
$padding-triple: 4.8rem !default;
$padding-half: 0.5rem !default;

$headerHeight: 6rem;