
// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$padding: 1rem;
$padding-2: 2rem;
$padding-3: 3rem;
$padding-4: 4rem;
$padding-5: 5rem;
$padding-6: 6rem;
$padding-7: 7rem;
$padding-8: 8rem;
$padding-half: 0.5rem;

$headerHeight: 6rem;