@import 'Colors' ;
@import 'Variables' ;

.card {
  min-height: 70vh;
  padding: $padding-4 $padding-4 $padding-2 $padding-4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: $color-text-light;
}
.titleContainer {
}

.date {
  color: $color-text-light;
}

.blurb {
  color: $color-text-light;
}

.text {
  color: $color-text-light;
}
