@import 'Variables';
@import 'Grid';

.listContainer {
  width: 60vw;
}

.scene {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  width: 80vw;
}

.detailsActive {
  transform: translateX((-50vw));
}
