@import 'Colors';
@import 'Variables';

.container {
  display: flex;
  @media (max-width: 40rem) {
    height: 20vh;
    width: 100%;
  }
}

.fixedContainer {
  height: 20vh;
  width: 100%;
  @media (min-width: 40rem) {
    width: 40%;
    height: 100vh;
    position: fixed;
  }
}

.textContainer {
  position: absolute;
  top: calc(#{$headerHeight} + #{$padding});
  @media (min-width: 40rem) {
    top: 50%;
    left: calc(#{$headerHeight} + #{$padding});
  }
}

.title {
  color: $color-text;
}
