@import 'Variables';
@import 'Grid';
@import 'zIndex';
@import 'Colors';

.navbar {
  @extend .row;
  padding: 0 $padding-2;
  height: $headerHeight;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: $navbarIndex;
  background-color: $color-background;
  width: 100vw;
  left: 0;
  @media (min-width: 40rem) {
    transform: rotate(270deg);
    transform-origin: 0px 0px;
    bottom: -$headerHeight;
    left: 0;
    width: 100vh;
  }
}

.link {
  font-size: 2rem;
  margin: 0 $padding;
  line-height: 2.4rem;
  padding-top: 2px;
  border-bottom: 2px solid $color-background;
}

.linkActive {
  border-bottom: 2px solid $color-primary;
}
